body {
  background: url('img/background.png');
  font-family: 'Fira Code', monospace;
  color: antiquewhite;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0 !important;
  padding: 0 !important;
}

#header {
  margin: 0 !important;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.4rem;
}

.form-container {
  padding-left: 1rem;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1rem;
  padding: 0.3rem;
  border: 1px dashed transparent;
}

.input-container:hover {
  color: yellow;
}

.input-container label {
  margin-left: 10%;
  padding-right: 2rem;
}

.input-container input, .input-container select {
  width: 30%;
  font-family: 'Fira Code', monospace;
  margin-right: 10%;
}

.button-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.button-container button {
  min-width: 8em;
  height: 2.5rem;
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
}

#run {
  background: rgb(112, 146, 34);
  color: white;
  border: none;
}

#run[disabled] {
  background: rgb(112, 112, 112);
  color: grey;
}

#reset {
  background: whitesmoke;
  border: none;
}

#learningStatus {
  font-size: 1.5rem;
  text-align: center;
}

/* spinner starts */
.spinner-overlay {
  /* change display to unset/inherit when running learning */
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.spinner {
  position: relative;
  margin: 20vh auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(112, 146, 34);
  width: 160px;
  height: 160px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* spinner ends */